/**
 * SFWJのカスタムスタイル
 *
 * @handle sfwj-custom
 */

@import "custom/profile";
@import "custom/work";

.entry-body {

	p {
		line-height: 2;
	}

	p:not([class]) {
		text-align: justify;
		text-justify: inter-ideograph;
	}
}

